# Entorno virtual
veterinaria_env/

# Python
*.pyc
__pycache__/

# Archivos de base de datos
*.sqlite3

# Archivos de sistema
.DS_Store
*.log

# Carpeta de static si la generas automáticamente
/static/
